.duncManPage {
  background-size: cover;
  background-repeat: repeat;
  height: 100h;
}

/* .comicRow1 {
  width: 100vw;
} */

/* .duncanContainer {
  width: 100vw;
} */

.duncTitle {
  font-family: "ZCOOL KuaiLe", cursive;
  font-size: 6ch;
  font-weight: bold;
  letter-spacing: 10px;
}
