.duncManPage {
  background-size: cover;
  background-repeat: repeat;
  height: 100h;
}

.duncTitle {
  font-family: "ZCOOL KuaiLe", cursive;
  font-size: 6ch;
  font-weight: bold;
  letter-spacing: 10px;
}
